@import "./utils/variables";
@import "./utils/base";
@import "./utils/buttons";
@import "./sections/header-section";
@import "./sections/top-banner";
@import "./sections/about-us";
@import "./sections/what-we-do";
@import "./sections/our-team";
@import "./sections/regular-customer";
@import "./sections/footer-section";
@import "./sections/portfolio";
@import "./components/social-media";
@import "./components/modal";
@import "./components/logo";
@import "./components/mobile-menu";

.header,
.about-us,
.what-we-do,
.portfolio__filter,
.portfolio__content {
  background-color: var(--white);
}

.nav-list .link:hover,
.nav-list .link:focus,
.nav-list .link--current-page,
.header__contacts .link:hover,
.header__contacts .link:focus,
.footer__mail:hover,
.footer__phone-number:hover,
.footer__mail:focus,
.footer__phone-number:focus {
  color: var(--blue-theme);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
