.about-us {
    padding-left: 185px;
    padding-top: 94px;
    padding-bottom: 94px;
    &__list {
      gap: 30px;
    } 
    &__item {
      width: 270px;
    }
    &__icon-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 270px;
      height: 120px;
      margin-bottom: 30px;
      background-color: var(--whitish);
    }
    &__icon {
      width: 70px;
      height: 70px;
    }
    &__title {
      margin-bottom: 10px;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
    }
    &__context {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.03em;
      color: var(--gray);
    }
}