.header {
    display: flex;
    padding-left: 215px;
  }

.nav-list .link,
.header__mail,
.header__phone-number {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.header__mail,
.header__phone-number {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--gray);
}

.nav-list {
  display: flex;
  padding-inline-start: 0;
  align-items: baseline;
  margin-left: 93px;
  margin-top: 32px;
  &__item + .nav-list__item {
    margin-left: 50px;
  }
  .link {
    position: relative;
    height: 100%;
  }
}

.nav-list .link:hover::after,
.nav-list .link--current-page::after {
  position: absolute;
  content: '';
  background: var(--blue-theme);
  border-radius: 2px;
  width: 100%;
  height: 4px;
  bottom: -30px;
  right: 50%;
  transform: translateX(50%);
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contacts {
  display: flex;
  flex-direction: row;
  margin-left: 330px;
  margin-top: 32px;
  height: 16px;
}

.header__contacts .link {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.header__contacts .link+.link {
  margin-left: 40px;
}

.mail-icon {
  width: 16px;
  height: 12px;
}

.phone-icon {
  width: 10px;
  height: 16px;
}
