.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--black-20);
    width: 100vw;
    height: 100wh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .is-hidden {
      transform: scale(0);
      visibility: hidden;
    }
  
  .modal-content {
    width: 528px;
    height: 581px;
    background-color: var(--white);
    margin: 0 auto;
    position: relative;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    animation: modalScale 500ms linear 1000ms;
    &__form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 40px;
    }
    &__form-label {
      position: relative;
      &:not(:nth-child(6)) {
          display: flex;
          flex-direction: column;
        }
      &--agreement {
          display: flex;
          justify-content: center;
          flex-direction: row;
          align-items: center;
          position: relative;
          margin-top: 10px;
        }
    }
    &__form-label-name {
      margin-bottom: 4px;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.01em;
      color: var(--gray);
      &-checkbox {
          margin-left: 7px;
          font-weight: 400;
          font-size: 14px;
          line-height: 24px;
          letter-spacing: 0.03em;
          color: var(--gray);
        }
    }
    &__form-label-icon {
      width: var(--form-modal-icon);
      height: var(--form-modal-icon);
      position: absolute;
      bottom: 0;
      margin-bottom: 11px;
      margin-left: 12px;
    }
    &__form-label-input {
      width: 448px;
      height: 40px;
      border: 1px solid rgba(33, 33, 33, 0.2);
      border-radius: 4px;
      padding-left: 42px;
      outline: none;
    }
    &__form-title {
      font-weight: 700;
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      letter-spacing: 0.03em;
      color: var(--blackish);
      margin-bottom: 2px;
      }
    &__form-label-textarea {
      width: 448px;
      height: 120px;
      border: 1px solid rgba(33, 33, 33, 0.2);
      border-radius: 4px;
      outline: none;
      resize: none;
      padding: 12px 16px;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.01em;
      &::placeholder {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.01em;
        color: var(--gray-50);
      }
    }
    &__form-checkbox-icon {
      position: absolute;
      top: 4px;
      left: 17px;
    }
    &__checkbox-link {
      color: var(--blue-theme);
      text-decoration: underline;
    }
  }
  
  .modal-content__form-label-input:focus + .modal-content__form-label-icon,
  .modal-content__form-label-input:hover:required + .modal-content__form-label-icon,
  .modal-content__form-label .modal-content__form-label-icon:focus,
  .modal-content__form-label .modal-content__form-label-icon:hover,
  .modal-content__form-label-input:hover:required,
  .modal-content__form-label-input:focus-within {
    border-color: var(--blue-theme);
    fill: var(--blue-theme);
  }
  
  .modal-content__form-label-input--hide-arrows::-webkit-outer-spin-button,
  .modal-content__form-label-input--hide-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  .modal-content__form-label-checkbox-input,
  .modal-content__checkbox-icon {
    width: 16px;
    height: 15px;
    cursor: pointer;
  }
  
  //Hide checkbox and add svg's instead
  .modal-content__form-label-checkbox-input {
    visibility: hidden;
  }
  
  .modal-content__form-label-checkbox-input ~ .modal-content__form-checkbox-icon--checked,
  .modal-content__form-label-checkbox-input:checked ~ .modal-content__form-checkbox-icon--checked--unchecked {
    visibility: hidden;
  }
  
  .modal-content__form-label-checkbox-input:checked ~ .modal-content__form-checkbox-icon--checked {
    visibility: visible;
  }
  
  @keyframes modalScale {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(0.5);
    }
    100% {
      transform: scale(1);
    }
  }