.regular-customers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--white);
    &__title {
      padding-bottom: 50px;
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 42px;
      text-align: center;
      letter-spacing: 0.03em;
    }
    &__list {
      display: flex;
      flex-direction: row;
      list-style: none;
      gap: 30px;
      padding-right: 35px;
    }
    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 170px;
      height: 92px;
      border: 1px solid var(--grayish-light);
      border-radius: 4px;
      &:hover .regular-customers__item-logo,
      &:focus .regular-customers__item-logo,
      &:hover,
      &:focus {
          border-color: var(--blue-theme);
          fill: var(--blue-theme);
          transition: border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
          transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
    &__item-logo {
      width: 106px;
      height: 60px;
      fill: var(--grayish-light);
    }
  }