.top-banner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 200px 452px 200px;
    &__title {
      font-weight: 900;
      font-size: 44px;
      line-height: 60px;
      text-align: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: var(--white);
    }
    background-image: radial-gradient(
      at center,
      var(--grayish-40),
      var(--grayish-40)
    ),
    url(../assets/main-banner.jpg);
  }