.what-we-do {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 35px;
    padding-bottom: 94px;
    &__title {
      font-weight: 700;
      font-size: 36px;
      line-height: 42px;
      text-align: center;
      letter-spacing: 0.03em;
    }
    &__list {
      display: flex;
      gap: 30px;
      padding-top: 50px;
    }
    &__item {
      position: relative;
    }
    &__image-title {
      display: flex;
      width: 370px;
      height: 70px;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 3px;
      background-color: var(--grayish-80);
      color: var(--white);
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
    }
  }