:root {
    --body-color: #E5E5E5;
    --white: #ffffff; /* Header + About us + What we do + Regular Customers + Portfolio sections */
    --white-10: #FFFFFF1A;
    --white-60: #FFFFFF99;
    --whitish: #F5F4FA;
    --white-gray: #EEEEEE;
    --blue-theme: #2196F3; /* Logo - "Web" part + link active/hover + main banner button + filter button-portfolio page) */
    --blue-theme-90: #2196F3E5;
    --black: #000000; /* "Studio" part */
    --black-20: #00000033;
    --blackish: #212121;
    --gray: #757575; /* <p> elements + mail -- phone number */
    --gray-50: #75757580;
    --grayish: #2F303A;
    --grayish-40: #2F303A66;
    --grayish-80: #2F303ACC;
    --grayish-light: #AFB1B8;
    --container-top-border-color: #ECECEC;
    --logo-font-family: "Raleway", sans-serif;
    --text-font-family: "Roboto", sans-serif;
    --form-modal-icon: 18px;
  }