$mobile-breakpoint: 480px;
$mobile-maxpoint: 767.98px;
$tablet-breakpoint: 768px;
$tablet-maxpoint: 1199.98px;
$desktop-breakpoint: 1200px;

:root {
  --white: #ffffff; /* Header + About us + What we do + Regular Customers + Portfolio sections */
  --white-10: #ffffff1a;
  --white-60: #ffffff99;
  --whitish: #f5f4fa;
  --white-gray: #eeeeee;
  --blue-theme: #2196f3; /* Logo - "Web" part + link active/hover + main banner button + filter button-portfolio page) */
  --blue-theme-90: #2196f3e5;
  --black: #000000; /* "Studio" part */
  --black-20: #00000033;
  --blackish: #212121;
  --gray: #757575; /* <p> elements + mail -- phone number */
  --gray-50: #75757580;
  --grayish: #2f303a;
  --grayish-40: #2f303a66;
  --grayish-80: #2f303acc;
  --grayish-light: #afb1b8;
  --container-top-border-color: #ececec;
  --logo-font-family: "Raleway", sans-serif;
  --text-font-family: "Roboto", sans-serif;
  --form-modal-icon: 18px;
}
