.container--portfolio {
  padding: 60px 15px;
  @media screen and (min-width: $desktop-breakpoint) {
    padding: 94px 0;
  }
}

.portfolio {
  border-top: 1px solid var(--container-top-border-color);
  &__filter {
    display: flex;
    padding-bottom: 30px;
    @media screen and (min-width: $tablet-breakpoint) and (max-width: $tablet-maxpoint) {
      justify-content: center;
    }
    @media screen and (min-width: $desktop-breakpoint) {
      justify-content: center;
      padding-bottom: 50px;
    }
    &-list {
      gap: 8px;
      padding: 0;
      @media screen and (max-width: $mobile-maxpoint) {
        flex-wrap: wrap;
        width: 290px;
      }
    }
  }
  &__content {
    @media screen and (min-width: $desktop-breakpoint) {
      padding-left: 15px;
    }
  }
  &__content-list {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 27px;

    @media screen and (min-width: $desktop-breakpoint) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
  }
  &__content-item {
    background: var(--white);
    border: 1px solid var(--white-gray);
    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
      cursor: pointer;
      transition: box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  &__content-name {
    display: flex;
    flex-direction: column;
    height: 110px;
    @media screen and (max-width: 363px) {
      height: 100%;
    }
    padding: 20px 0 20px 24px;
    &-title {
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 36px;
      letter-spacing: 0.06em;
    }
    &-description {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;
      letter-spacing: 0.03em;
      color: var(--gray);
    }
  }
  &__content-hover {
    position: relative;
    overflow: hidden;
    &:hover {
      .portfolio__content-hover-description {
        top: 0;
      }
    }
    &-description {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 63px 24px 5px;
      background-color: var(--blue-theme-90);
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0.03em;
      color: var(--white);
      overflow: hidden;
      transition-property: top, right, bottom, left;
      transition-duration: 0.25s;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      top: 100%;
    }
  }
}

.portfolio__content-hover img {
  width: 100%;
}
